.dataprotection {
  margin: 128px 64px 64px 64px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: fit-content;
}

.page {
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

h1 {
  @media (max-width: 800px) {
    margin-top: 120px;
  }

  @media (max-width: 400px) {
    font-size: 2rem;
  }
}

p,
li,
ul {
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: 400;

  @media (max-width: 720px) {
    width: fit-content;
    line-height: normal !important;
  }

  @media (max-width: 400px) {
    font-size: 1.6rem;
  }
}

h2,
h3,
h4 {
  font-size: 2.8rem;
  margin-top: 2rem;
  @media (max-width: 720px) {
    font-size: 2.2rem;
  }
  @media (max-width: 400px) {
    font-size: 2rem;
  }
}
