html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: rgb(200, 200, 200);
}

button {
  font-size: 2rem;
  padding: 8px 32px;
  border-radius: 16px;
  border: 2px solid greenyellow;
  background-color: transparent;
  max-width: 280px;

  &:hover {
    background-color: greenyellow;
    cursor: pointer;
  }
}

input {
  background-color: rgb(200, 200, 200);
  border: 2px solid grey;
  border-radius: 16px;
  padding: 16px 8px;
  width: 260px;

  @media (max-width: 900px) {
    width: calc(100% - 128px);
  }

  @media (max-width: 600px) {
    width: calc(100% - 64px);
    margin-left: 16px;
    margin-right: 16px;
  }

  @media (max-width: 400px) {
    width: calc(100% - 64px);
  }
}

textarea {
  background-color: rgb(200, 200, 200);
  border: 2px solid grey;
  border-radius: 16px;
  padding: 16px 8px;
  margin-left: 64px;
  max-width: 900px;
  width: calc(100% - 128px);

  @media (max-width: 600px) {
    width: calc(100% - 64px);
    margin-left: 16px;
    margin-right: 16px;
  }
}

.margin--lr--64 {
  margin-left: 64px;
  margin-right: 64px;

  @media (max-width: 600px) {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.margin--tb--64 {
  margin-top: 64px;
  margin-bottom: 64px;

  @media (max-width: 600px) {
    margin-top: 32px;
    margin-bottom: 16px;
  }
}

.font--green {
  font-family: "Playfair Display";
  font-size: 10rem;
  font-weight: 700;
  color: greenyellow;

  @media (max-width: 600px) {
    font-size: 4rem;
  }
}

.heading {
  font-family: "Playfair Display";
  font-size: 10rem;
  font-weight: 700;
  margin-left: 64px;
  margin-top: 64px;
  width: fit-content;
  height: fit-content;

  @media (max-width: 600px) {
    font-size: 4rem;
    margin-left: 16px;
    margin-right: 16px;
  }
}

.text {
  margin: 64px 64px 0 64px;
  font-size: 2rem;
  font-weight: 300;
  width: fit-content;
  height: fit-content;

  @media (max-width: 600px) {
    font-size: 1.8rem;
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

::-webkit-scrollbar {
  background-color: rgb(200, 200, 200);
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(172, 255, 47, 0.661);
}

input:focus,
textarea:focus {
  outline: none;
}
textarea {
  resize: none;
}

.z {
  &--minus--1 {
    z-index: -1;
  }

  &--minus--2 {
    z-index: -2;
  }

  &--1 {
    z-index: 1;
  }

  &--2 {
    z-index: 2;
  }

  &--3 {
    z-index: 3;
  }

  &--4 {
    z-index: 4;
  }

  &--5 {
    z-index: 5;
  }
}

.absolute {
  position: absolute !important;
}

.fixed {
  position: fixed !important;
}

.relative {
  position: relative !important;
}

.hide {
  display: none !important;
}

.show {
  display: flex !important;
}

*:focus {
  outline: none;
}
