main {
  height: 1000px;
  width: 100vw;
  max-width: 100%;
  display: flex;
}

.landingpage {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.landingpage__heading {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.landingpage__logo {
  margin: 32px 0 0 0;
  color: aquamarine;
  font-size: 10rem;
  font-weight: 500;
  width: fit-content;
}

.landingpage__welcome {
  font-size: 10rem;
  font-weight: 500;
}

.body {
  margin-left: 128px;
  margin-right: 428px;
  width: 100%;
  height: 100%;
}

.cart {
  position: fixed;
  top: 300px;
  right: 0;
  width: 300px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
}
