main {
  height: fit-content;
  width: 100vw;
  max-width: 100%;
  display: flex;
}

.cart {
  position: fixed;
  top: 40px;
  right: 0;
  width: 260px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
}
