<section class="landingpage">
  <div class="landingpage__heading">
    <span class="landingpage__welcome">Welcome To</span>
    <span class="landingpage__logo">FOOD4U</span>
    <span class="landingpage__text"
      >Starting with serious breakfast options and running until late, our food
      is scratch-cooked, uses carefully-sourced ingredients and can be virtuous
      or indulgent, depending on your mood.</span
    >
    <a href="#menu"><button class="landingpage__menu__button">Menu</button></a>
  </div>
  <img class="landingpage__img" src="/assets/img/foodImg.jpg" />
</section>
