.landingpage {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media (max-width: 1160px) {
    height: fit-content;
  }
}

.landingpage__heading {
  margin-left: 64px;
  margin-top: 256px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media (max-width: 600px) {
    margin-top: 128px;
    margin-left: 16px;
  }
}

.landingpage__logo {
  font-family: "Playfair Display";
  font-weight: 800;
  color: greenyellow;
  font-size: 10rem;
  width: fit-content;

  @media (max-width: 600px) {
    font-size: 6rem;
  }
}

.landingpage__img {
  margin-top: 256px;
  margin-right: 64px;
  border-radius: 48% 52% 76% 24% / 30% 25% 75% 70%;
  width: 50%;
  height: 40%;
  object-fit: cover;

  @media (max-width: 1160px) {
    object-fit: none;
    opacity: 0.2;
    z-index: -1;
    position: absolute;
    width: 1400px;
    height: 1200px;
    margin: 0;
    top: -400px;
    right: 0;
  }

  @media (max-width: 600px) {
    top: -200px;
  }
}

.landingpage__welcome {
  font-family: "Playfair Display";
  font-size: 10rem;
  font-weight: 700;
  @media (max-width: 1160px) {
    font-size: 6rem;
  }
}

.landingpage__text {
  margin-top: 64px;
  font-size: 2rem;
  font-weight: 300;

  @media (max-width: 600px) {
    font-size: 1.8rem;
    margin-top: 32px;
  }
}

.landingpage__menu__button {
  margin-top: 32px;
}

a {
  text-decoration: none;
}
