.contact {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100vw;
  max-width: 100%;
  margin-bottom: 64px;
}

.contact__container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  margin-top: 16px;
  margin-left: 64px;
  margin-right: 64px;
  @media (max-width: 600px) {
    margin-right: 16px !important;
    margin-left: 16px;
  }
}

.email {
  margin-top: 16px;
  margin-right: 64px;
  margin-left: 64px;
  @media (max-width: 900px) {
    margin-left: 64px;
  }
  @media (max-width: 600px) {
    margin-right: 16px !important;
    margin-left: 16px;
  }
}

.textarea {
  margin-top: 16px;
  margin-right: 64px;
  @media (max-width: 600px) {
    margin-right: 16px !important;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.contactButton {
  margin-top: 32px;
  @media (max-width: 400px) {
    max-width: none;
    width: calc(100% - 48px) !important;
  }
}
