<section id="contact" class="contact">
  <span class="heading">Contact <b class="font--green">U</b>s</span>
  <section>
    <form
      class="contact__form"
      action="https://formsubmit.co/olivertheil@posteo.de"
      method="post"
    >
      <span class="text"> You liked my site? Write me a message! </span>
      <div class="contact__container">
        <input
          type="text"
          name="name"
          class="name"
          placeholder="name"
          required
        />
        <input
          type="text"
          name="email"
          class="email"
          placeholder="email"
          required
        />
      </div>
      <textarea
        #message
        placeholder="message"
        name="message"
        cols="30"
        rows="4"
        class="textarea"
        required
      ></textarea>
      <input
        type="hidden"
        name="_next"
        value="https://oliver-theil.de/foodforu"
      />
      <button class="margin--lr--64 contactButton" type="submit">Send</button>
    </form>
  </section>
</section>
