<section id="about" class="about">
  <span class="heading"> About <b class="font--green">U</b>s</span>
  <div class="about__box__right">
    <span class="text"
      >FOOD4U have been members of the Sustainable Restaurant Association since
      the inception of the business in 2012; rare for a new business. Since 2017
      we have proudly achieved and maintained a coveted 3 stars, a reflection of
      our commitment thus far. Delighted to win Best Sustainable Pub Group 2019
      at the Publican Awards and shortlisted again in 2021. <br /><br />
      When creating FOOD4U we wanted to do everything we could to help and to
      have the least amount of impact on the environment. From switching off the
      lights at night, being mindful of gas and equipment usage all the way to
      turning off that tap – we are convinced that every little bit helps.</span
    >
    <img class="about__img" src="/assets/img/restaurantImg.jpg" />
  </div>
  <div class="about__box__left">
    <span class="text">
      We are committed separators and recyclers of all waste. From day one we
      have committed our suppliers to taking packaging away with them if they
      are unable to deliver in re-usable containers. Paper Round provide the
      means to split waste into 5 different recycling streams along with 100%
      traceability. We recycle food waste, bottle waste. coffee waste, cardboard
      and mixed recycling which accounts for 89% of all of the waste we
      generate. We only use GM-free rapeseed oil in our kitchens, which is then
      converted to BioFuel. Our long term commitment to sustainable energy means
      we use 100% green energy estate wide. By January 2019 we had removed
      single use plastic in the form of plastic straws and cling film from all
      of our bars AND any products containing palm oil from our business
      entirely.
    </span>
    <img class="about__img" src="/assets/img/foodImg3.jpg" />
  </div>
  <div class="about__box__right">
    <span class="text">
      We are committed separators and recyclers of all waste. From day one we
      have committed our suppliers to taking packaging away with them if they
      are unable to deliver in re-usable containers. Paper Round provide the
      means to split waste into 5 different recycling streams along with 100%
      traceability. We recycle food waste, bottle waste. coffee waste, cardboard
      and mixed recycling which accounts for 89% of all of the waste we
      generate. We only use GM-free rapeseed oil in our kitchens, which is then
      converted to BioFuel. Our long term commitment to sustainable energy means
      we use 100% green energy estate wide. By January 2019 we had removed
      single use plastic in the form of plastic straws and cling film from all
      of our bars AND any products containing palm oil from our business
      entirely.</span
    >
    <img class="about__img" src="/assets/img/foodImg2.jpg" />
  </div>
  <span class="text">
    Our menus are meticulously written by Executive Chef Simon Duff to control
    wastage; from thoughtful and well utilised mise-en-place and mindful
    selection of meat cuts right through to plating and portion control. We work
    closely with our key suppliers to secure written agreements that favour
    British or local produce, a commitment to specific animal welfare standards,
    a sustainable seafood policy, palm oil free products, ethical trade
    commitments to a specified standard and we require environmental & land
    management commitments from each of our suppliers. We are continually
    looking to develop our significant and growing plant based and vegan menu
    which not only contributes to a more sustainable business but is entirely in
    step with changing consumer behaviour, something we have long been aware of,
    publishing our first standalone vegan menu at the beginning of 2019.
    <br /><br />
    We are looking forward to 2022 with two exciting new partnerships; Urban
    Organic to reimagine our green space at No 29 Power Station West and No 32
    The Old Town and Harvest London, vertical farming.</span
  >
</section>
