<section id="cart" class="cart">
  <div class="filler"></div>
  <div
    *ngFor="let item of this.items.cart; let i = index"
    class="cart__foodBox"
  >
    <div class="cart__amountAndName__container">
      <span class="cart__number">{{ this.items.cart[i].amount }}x</span>
      <span class="cart__foodName">{{ this.items.cart[i].name }}</span>
    </div>
    <div class="minusPlus__container">
      <span class="cart__price">{{ this.items.cart[i].price }}</span>
      <div (click)="minus(i)" class="cart__minusAdd">
        <i class="fa-solid fa-minus fa-xl"></i>
      </div>
      <div (click)="plus(i)" class="cart__minusAdd">
        <i class="fa-solid fa-plus fa-xl"></i>
      </div>
    </div>
  </div>

  <div class="cart__payment">
    <div class="cart--full" *ngIf="items.cart.length > 0">
      <div class="cart--full__head">
        <span class="cart--full__priceText">Your total is: </span>
        <span class="cart--full__price">100 Euro</span>
      </div>
      <div class="cart--full__discountContainer">
        <span class="margin--tb--64 margin--lr--64"
          >Do you have a discount code?</span
        >
        <input type="text" />
      </div>
    </div>
    <div class="cart--emty" *ngIf="items.cart.length == 0">
      <span class="text">
        Your shopping cart is empty. Click here to go to the menu
      </span>
      <button><a href="#menu">Menu</a></button>
    </div>
  </div>

  <div class="filler">
    <button *ngIf="items.cart.length > 0" (click)="orderFood()">Order</button>
  </div>
</section>
