.cart {
  display: flex;
  flex-direction: column;
  min-height: 82vh;
}

.filler {
  height: 128px;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__foodBox {
  margin: 64px 64px 0 64px;
  border-radius: 16px;
  height: fit-content;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 900px) {
    flex-direction: column;
  }

  @media (max-width: 600px) {
    margin: 32px 16px 16px 16px;
  }
}

.cart__amountAndName__container {
  min-width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 900px) {
    flex-direction: column;
    width: 80%;
    border-bottom: 1px solid grey;
  }
}

.cart__number {
  font-size: 2.6rem;
  font-weight: 400;
  padding: 16px;
  @media (max-width: 600px) {
    padding: 8px;
  }
}

.cart__foodName {
  font-size: 2.6rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  padding: 16px 32px;
  background-color: rgb(200, 200, 200);
  @media (max-width: 900px) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    border-right: none;
  }
  @media (max-width: 600px) {
    font-size: 2.2rem;
  }
}

.cart__description {
  margin: 16px;
  font-size: 2rem;
  font-weight: 300;
  @media (max-width: 900px) {
    text-align: center;
  }
}

.cart__price {
  border-radius: 16px;
  font-size: 2.6rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  padding: 16px 32px;
  background-color: rgb(200, 200, 200);
  @media (max-width: 900px) {
    font-size: 2.2rem;
    width: 80%;
    padding-left: 0;
    padding-right: 0;
    border-left: none;
  }
  @media (max-width: 600px) {
    font-size: 2.2rem;
  }
}

.cart__minusAdd {
  margin: 16px;
  padding: 16px;
  border-radius: 16px;
  border: 2px solid grey;

  @media (max-width: 600px) {
    padding: 8px;
  }

  &:hover {
    cursor: pointer;
    background-color: greenyellow;
  }
}

.minusPlus__container {
  border-radius: 16px;
  display: flex;
}

.cart--emty {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    margin: 64px 0 0 64px;
    max-width: 160px;
    @media (max-width: 600px) {
      margin: 32px 0 0 16px;
    }
  }

  * {
    text-decoration: none;
  }
}

.cart--full {
  margin-top: 40px;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart--full__head {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart--full__priceText {
  font-size: 2.6rem;
  font-weight: 400;
}

.cart--full__price {
  margin-top: 20px;
  padding: 16px;
  color: rgb(170, 255, 0);
  border-radius: 16px;
  border: 2px solid rgb(170, 255, 0);
  font-size: 2.6rem;
  font-weight: 500;
}

.cart--full__discountContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart--full__deliveryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textAlign--center {
  @media (max-width: 600px) {
    text-align: center;
  }
}
