<section id="cart" class="cart">
  <div class="filler"></div>
  <div *ngIf="this.cartService.cart.length != 0" class="filler">
    <span class="cart--full__priceText">Your shopping cart:</span>
  </div>
  <div
    *ngFor="let item of cartService.cart; let i = index"
    class="cart__foodBox"
  >
    <div class="cart__amountAndName__container">
      <span class="cart__number">{{ cartService.cart[i].amount }}x</span>
      <span class="cart__foodName">{{ cartService.cart[i].name }}</span>
    </div>
    <div class="minusPlus__container">
      <span class="cart__price"
        >{{
          (cartService.cart[i].amount * cartService.cart[i].price).toFixed(2)
        }}&nbsp;€</span
      >
      <div (click)="minus(i)" class="cart__minusAdd">
        <i class="fa-solid fa-minus fa-xl"></i>
      </div>
      <div (click)="plus(i)" class="cart__minusAdd">
        <i class="fa-solid fa-plus fa-xl"></i>
      </div>
    </div>
  </div>

  <div class="cart__payment">
    <div class="cart--full" *ngIf="this.cartService.cart.length > 0">
      <div class="cart--full__head">
        <div class="cart--full__deliveryContainer">
          <span
            *ngIf="this.cartService.cartPrice > 30"
            class="margin--lr--64 margin--tb--64 textAlign--center"
            >Nice, you reached 30 €. The delivery is free.
          </span>
          <span
            *ngIf="this.cartService.cartPrice < 30"
            class="margin--lr--64 margin--tb--64 textAlign--center"
            >Delivery cost is 5.00 €. Delivery is free if your order total
            exceeds 30 €.
          </span>
        </div>

        <span class="cart--full__priceText">Your total is: </span>
        <span class="cart--full__price"
          >{{ this.cartService.cartPrice.toFixed(2) }} &nbsp;€</span
        >
      </div>
      <div class="cart--full__discountContainer">
        <span class="margin--tb--64 margin--lr--64 textAlign--center"
          >Do you have a discount code?</span
        >
        <input (change)="cartService.onChangeEvent($event)" type="text" />
        <div (click)="cartService.calculatePrice()" class="cart__minusAdd">
          <i class="fa-solid fa-check fa-xl"></i>
        </div>
      </div>
    </div>
    <div class="cart--emty" *ngIf="this.cartService.cart.length == 0">
      <span class="text textAlign--center">
        Your shopping cart is empty. Click here to go to the menu
      </span>
      <a href="#menu"><button>Menu</button></a>
    </div>
  </div>

  <div class="filler">
    <button
      *ngIf="this.cartService.cart.length > 0"
      (click)="orderFood()"
      routerLink=""
    >
      Order
    </button>
  </div>
</section>
