<section id="cart" class="cart">
  <div class="filler"></div>
  <div class="cart__foodBox">
    <span class="cart__number"> 100x</span>
    <span class="cart__foodName"> Pizza </span>
    <span class="cart__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus impedit
      officiis id non libero! Quibusdam ea
    </span>
    <span class="cart__price">10,00</span>
    <div class="minusPlus__container">
      <div class="cart__minusAdd">
        <i class="fa-solid fa-minus fa-xl"></i>
      </div>
      <div class="cart__minusAdd">
        <i class="fa-solid fa-plus fa-xl"></i>
      </div>
    </div>
  </div>
  <div class="cart__foodBox">
    <span class="cart__foodName"> Pizza </span>
    <span class="cart__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus impedit
      officiis id non libero! Quibusdam ea
    </span>
    <span class="cart__price">10,00</span>
    <div class="minusPlus__container">
      <div class="cart__minusAdd">
        <i class="fa-solid fa-minus fa-xl"></i>
      </div>
      <div class="cart__minusAdd">
        <i class="fa-solid fa-plus fa-xl"></i>
      </div>
    </div>
  </div>
  <div class="cart__foodBox">
    <span class="cart__foodName"> Pizza </span>
    <span class="cart__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus impedit
      officiis id non libero! Quibusdam ea
    </span>
    <span class="cart__price">10,00</span>
    <div class="minusPlus__container">
      <div class="cart__minusAdd">
        <i class="fa-solid fa-minus fa-xl"></i>
      </div>
      <div class="cart__minusAdd">
        <i class="fa-solid fa-plus fa-xl"></i>
      </div>
    </div>
  </div>
  <div class="cart__foodBox">
    <span class="cart__foodName"> Pizza </span>
    <span class="cart__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus impedit
      officiis id non libero! Quibusdam ea
    </span>
    <span class="cart__price">10,00</span>
    <div class="minusPlus__container">
      <div class="cart__minusAdd">
        <i class="fa-solid fa-minus fa-xl"></i>
      </div>
      <div class="cart__minusAdd">
        <i class="fa-solid fa-plus fa-xl"></i>
      </div>
    </div>
  </div>
  <div class="cart__foodBox">
    <span class="cart__foodName"> Pizza </span>
    <span class="cart__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus impedit
      officiis id non libero! Quibusdam ea
    </span>
    <span class="cart__price">10,00</span>
    <div class="minusPlus__container">
      <div class="cart__minusAdd">
        <i class="fa-solid fa-minus fa-xl"></i>
      </div>
      <div class="cart__minusAdd">
        <i class="fa-solid fa-plus fa-xl"></i>
      </div>
    </div>
  </div>
  <div class="filler"><button (click)="orderFood()">Order</button></div>
</section>
