<section class="menu">
  <span class="heading">M<b class="font--green">e</b>nu</span>
  <div class="menu__headContainer fav">
    <span class="menu__headContainer__heading">Our Favorites</span>
  </div>
  <div class="menu__foodBox">
    <span class="menu__foodName"> Pizza </span>
    <span class="menu__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus impedit
      officiis id non libero! Quibusdam ea
    </span>
    <span class="menu__price">10,00</span>
    <div class="menu__add">
      <i class="fa-solid fa-plus fa-xl"></i>
    </div>
  </div>
  <div class="menu__foodBox">
    <span class="menu__foodName"> Pizza </span>
    <span class="menu__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus impedit
      officiis id non libero! Quibusdam ea
    </span>
    <span class="menu__price">10,00</span>
    <div class="menu__add">
      <i class="fa-solid fa-plus fa-xl"></i>
    </div>
  </div>
  <div class="menu__foodBox">
    <span class="menu__foodName"> Pizza </span>
    <span class="menu__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus impedit
      officiis id non libero! Quibusdam ea
    </span>
    <span class="menu__price">10,00</span>
    <div class="menu__add">
      <i class="fa-solid fa-plus fa-xl"></i>
    </div>
  </div>
  <div class="menu__headContainer pizza">
    <span class="menu__headContainer__heading">Pizza</span>
  </div>
  <div class="menu__foodBox">
    <span class="menu__foodName"> Pizza </span>
    <span class="menu__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus impedit
      officiis id non libero! Quibusdam ea
    </span>
    <span class="menu__price">10,00</span>
    <div class="menu__add">
      <i class="fa-solid fa-plus fa-xl"></i>
    </div>
  </div>
  <div class="menu__headContainer burger">
    <span class="menu__headContainer__heading">Burger</span>
  </div>
  <div class="menu__foodBox">
    <span class="menu__foodName"> Pizza </span>
    <span class="menu__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus impedit
      officiis id non libero! Quibusdam ea
    </span>
    <span class="menu__price">10,00</span>
    <div class="menu__add">
      <i class="fa-solid fa-plus fa-xl"></i>
    </div>
  </div>
  <div class="menu__headContainer salat">
    <span class="menu__headContainer__heading">Salat</span>
  </div>
  <div class="menu__foodBox">
    <span class="menu__foodName"> Pizza </span>
    <span class="menu__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus impedit
      officiis id non libero! Quibusdam ea
    </span>
    <span class="menu__price">10,00</span>
    <div class="menu__add">
      <i class="fa-solid fa-plus fa-xl"></i>
    </div>
  </div>
  <div class="menu__headContainer drinks">
    <span class="menu__headContainer__heading">Drinks</span>
  </div>
  <div class="menu__foodBox">
    <span class="menu__foodName"> Pizza </span>
    <span class="menu__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus impedit
      officiis id non libero! Quibusdam ea
    </span>
    <span class="menu__price">10,00</span>
    <div class="menu__add">
      <i class="fa-solid fa-plus fa-xl"></i>
    </div>
  </div>
</section>
