<section id="menu" class="menu">
  <span class="heading">M<b class="font--green">e</b>nu</span>
  <div class="menu__headContainer fav">
    <span class="menu__headContainer__heading">Our Favorites</span>
  </div>

  <div *ngFor="let fav of items.favmeals" class="menu__foodBox">
    <span class="menu__foodName"> {{ fav.name }} </span>
    <span class="menu__description">
      {{ fav.description }}
    </span>
    <div class="menu__priceAdd__container">
      <span class="menu__price">{{ fav.price }}€</span>
      <div class="menu__add">
        <i class="fa-solid fa-plus fa-xl"></i>
      </div>
    </div>
  </div>

  <div class="menu__headContainer pizza">
    <span class="menu__headContainer__heading">Pizza</span>
  </div>

  <div *ngFor="let pizza of items.pizza" class="menu__foodBox">
    <span class="menu__foodName"> {{ pizza.name }} </span>
    <span class="menu__description">
      {{ pizza.description }}
    </span>
    <div class="menu__priceAdd__container">
      <span class="menu__price">{{ pizza.price }}€</span>
      <div class="menu__add">
        <i class="fa-solid fa-plus fa-xl"></i>
      </div>
    </div>
  </div>

  <div class="menu__headContainer burger">
    <span class="menu__headContainer__heading">Burger</span>
  </div>

  <div *ngFor="let burger of items.burger" class="menu__foodBox">
    <span class="menu__foodName"> {{ burger.name }} </span>
    <span class="menu__description">
      {{ burger.description }}
    </span>
    <div class="menu__priceAdd__container">
      <span class="menu__price">{{ burger.price }}€</span>
      <div class="menu__add">
        <i class="fa-solid fa-plus fa-xl"></i>
      </div>
    </div>
  </div>

  <div class="menu__headContainer salat">
    <span class="menu__headContainer__heading">Salat</span>
  </div>

  <div *ngFor="let salat of items.salat" class="menu__foodBox">
    <span class="menu__foodName"> {{ salat.name }} </span>
    <span class="menu__description">
      {{ salat.description }}
    </span>
    <div class="menu__priceAdd__container">
      <span class="menu__price">{{ salat.price }}€</span>
      <div class="menu__add">
        <i class="fa-solid fa-plus fa-xl"></i>
      </div>
    </div>
  </div>

  <div class="menu__headContainer drinks">
    <span class="menu__headContainer__heading">Drinks</span>
  </div>
</section>

<div *ngFor="let drinks of items.drinks" class="menu__foodBox">
  <span class="menu__foodName"> {{ drinks.name }} </span>
  <span class="menu__description">
    {{ drinks.description }}
  </span>
  <div class="menu__priceAdd__container">
    <span class="menu__price">{{ drinks.price }}€</span>
    <div class="menu__add">
      <i class="fa-solid fa-plus fa-xl"></i>
    </div>
  </div>
</div>
